.header_main_container{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: #a56bce;
    border: 3px solid teal; 
}

.header_logo{
    width: 50px;
    height: 50px;
    border: 3px solid black; 
}

.header_title_prop{
    margin: 0 4rem 0 4rem;
    border: 3px solid black; 
    margin-left: 5rem;
    padding-right: 9rem
}

.sub_container {
    border: navy 3px dashed;
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 1rem;

    justify-content: space-around;
    align-items: center;
}
.holder {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: green 2px dashed;
    width: 100%;
}

.social_container {
    border: red 2px solid;
    display: flex;
    flex-direction: row;
    width:60%;
    justify-content: space-around;
}

.social_logo {
    width: 50px;
    height: 50px;
    transition: transfom .9s ease;
}

.social_logo:hover {
    transform: scale(1.6);
    background-color: none;
}

.copy_right {
    display: flex;
    flex-direction: column;
}

.footer_main_container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a56bce;
    border: 3px solid teal; 
}

