.header_main_container{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: #a56bce;
    border: 3px solid teal; 
}

.header_logo{
    width: 50px;
    height: 50px;
    border: 3px solid black; 
  
}

.header_title_prop{
    margin: 0 4rem 0 4rem;
    border: 3px solid black; 
    margin-left: 5rem;
    padding-right: 9rem
}

.sub_container {
    border: navy 3px dashed;
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 1rem;

    justify-content: space-around;
    align-items: center;
}
.holder {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: green 2px dashed;
    width: 100%;
}

.social_container {
    border: red 2px solid;
    display: flex;
    flex-direction: row;
    width:60%;
    justify-content: space-around;
    background-color: #4f4f4f;
}

.social_logo {
    width: 50px;
    height: 50px;
    transition: transfom .9s ease;
}

.social_logo:hover {
    transform: scale(1.6);
    background-color: none;
}







.nav {
    background-color: cornflowerblue;
    border: 3px solid pink; 
    font: black;
}

.nav_links{
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav-links li{
    padding: 1.5rem .5rem 1.5rem .5rem;
}
.buttons a {
    text-decoration: none;
    color: #4f4f4f;
    font-size:24px;
    font-weight:bolder;
   -webkit-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -moz-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -ms-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -o-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
  }

.buttons{
    margin-top:2rem;
    color: #000000;
    font-size:24px;
    font-weight:bolder;
   -webkit-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -moz-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -ms-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      -o-transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      transition: all 2s cubic-bezier(0.390, 0.500, 0.150, 1.360);
      padding: 12px 24px;
}
.buttons:hover{
    color: #fff;
   background-color:#a56bce;
}

.buttons-exit{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: default;
    outline: none;
    color:antiquewhite;
    background-color: black;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 9px #999;
 }
.buttons:hover{
    background-color: slategrey;
}
.buttons:active{
    background-color: antiquewhite;
    box-shadow: 0 5px #666;
    transform: translateY(5px)
}

.checkbox-container {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
  }