/* Containers starts here */

.header_main_container{
    height: auto;
    max-width: 100%;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.header_title_prop{
    padding: 1rem 0 0 3rem ;
}

.header_nav_link_group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem;
}

/* Misc Containers something random check here */

.sub_container {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
}
.holder {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: green 2px dashed;
    width: 100%;
}

/*  Navigation Component Lonks */
.nav_links { 
    color: azure; 
    padding:1rem;
    font-size: 20px;
    width: auto;
    height: auto;
    text-decoration: none;
}
.nav_links:visited{
    color: azure;
}
.nav_links:hover {
    cursor: pointer;
}

.nav_links:active {
  cursor: progress;
}

/* Info card  */
    /* Body Main Containers   */
.card_flex_main_col {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}
.card_flex_main_row {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}
    /* Individual Sections aka cards */
    .card_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .child_card_col{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        justify-content: space-between;
        align-items: flex-end;
        margin:1rem;
        height: auto;
    }

    .child_card_row{
        display: flex;
        flex-direction: row;
        flex-grow: 2;
        justify-content: space-between;
        align-items: stretch;
        margin:1rem;
        padding: 1rem;
        height: auto;
    }

        /* Media and Image Containers */
        .image_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            height: auto;
        }

/* Footer containers: social media & copy right  */
.footer_main_container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: azure;
}

    /* Social Media Page Containers */
    .social_container {
        display: flex;
        flex-direction: row;
        width:auto;
        justify-content: space-around;
        padding-top: 2rem;
    }

    /* Copy Right Page Containers */
    .copy_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: azure;
    }

    .copy_right a {
        color: azure;
    }

    .copy_right a:hover {
        text-decoration: none;
        color: azure;
        transform: scale(1.6);
        background-color: none;
    }

    .copy_right a:visited {
        text-decoration: none;
    }





/* @media all and(max-width: 800px){
    .card_flex_main_col {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        border: 3px solid blue;
    }
    .card_flex_main_row {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        border: 3px dashed maroon;
    }
}

@media all and(max-width: 500px){
    .card_flex_main_col {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        border: 3px solid green;
    }
    .card_flex_main_row {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        border: 3px dashed maroon;
    }
} */
/* @media all and(max-width: 800px){
    .card_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: stretch;
        border: 3px blue solid;
    }
}


@media all and(max-width: 375){
    .card_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: stretch;
        border: 3px blue solid;
    }
} */
/* @media all and(max-width: 600){ 

    .card_flex_main_col {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        border: 3px solid orange;
    }  
}

@media all and(max-width: 375){ 
    .card_flex_main_col {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        border: 3px solid orange;
    }  
} */
/* @media all and(max-width: 800px){ 
    .header_main_container{
        height: 150px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #a56bce;
        border: 3px solid purple; 
    } 
    .sub_container {
        border: navy 3px dashed;
        display: flex;
        flex-direction: row;
        padding: 0 4rem 0 1rem;
        justify-content: space-around;
        align-items: center;
    }
    .header_title_prop{
        margin: 0 4rem 0 4rem;
        border: 3px solid black; 
        max-width: 100%;
    }
} */
/* @media all and(max-width: 375px){ 
    .header_main_container{
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #a56bce;
        border: 3px solid magenta; 
    } 
    .sub_container {
        border: navy 3px dashed;
        display: flex;
        flex-direction: row;
        padding: 0 4rem 0 1rem;
        justify-content: space-around;
        align-items: center;
    }
    .header_title_prop{
        margin: 0 4rem 0 4rem;
        border: 3px solid yellow; 
        margin-left: 5rem;
        padding-right: 9rem
    }
} */
