/* from the style pages */
*{
    font-family: 'Exo 2', sans-serif;  
}
 /* Header / Nav / Title */

 .title{
    background-color: 37135b;
    display: flex;
    height: 140px;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    z-index: 3;
    color:white;
    padding-left: 1.5rem;
    box-shadow:   0 4px 8px 0 lightgray;
  }  
.title h1{
    font-size: 40px;
    font-family: 'Bungee', cursive;
    font-weight: 100;
}
.title h3{
    font-size: 24px;
    font-family: 'Bungee', cursive;
    font-weight: 100;
}

/* Main Body */

#main-adj{
    position: relative;
    top: 9rem;
}
.main_flex_container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.self-img{
    width: 300px;
    height: 400px; 
}

/* Image Rotations */
.scene{
    width: 300px;
    height: 400px;
    perspective: 600px;
}
.card{
width: 100%;
height: 100%;
position: relative;
transition: all 1s;
transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.card-face{
    transform-style: preserve-3d;
    transition: transform 0.7s;
    -webkit-transition: -webkit-transform 0.7s;
    -webkit-transform-style: preserve-3d;
}
.card-front{
    width: 300px;
    height: 400px;    
}
.card-back{
    background-color: #000000;
    transform: rotateY(180deg);
    color: White;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-front, .card-back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-front, .card-back {
    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
.hidden-area{
    background-color: black;
    transition: transform 0.5s;
}
.hidden-area:hover{
    visibility: visible;
}
#biography{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    width: 50%;
    text-align: end;
}
#biography h3{
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 2rem;
 line-height: 30px;
}
#biography h4{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color:white;
}
a:hover, a:active{
    text-decoration:none;
}   
.collapse{
    background-color: rgb(116, 116, 116);
    color: black;
    cursor: pointer;
    border: none;
    text-align: center;
} 
.inner-text{
    padding: 0 18px;
    display: none;
    overflow:scroll;   
}
.active .collapse:hover{
    background-color: antiquewhite;
}
.content{
    border: solid 1px black;
}
.container{
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
}
.checkbox-container {
    background: #000000
}

.email > a{
    color: black;
}

/* Footer */

.foot{
    background-color: 37135b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
}
.foot ul{
    display: flex;
    flex-direction: row;
    list-style: none;  
    font-size: 32px; 
}
.foot ul li {
    margin:25px;
}
.foot ul:hover{
    background-color: none;
}
.foot h4 {
    margin-top: 10px;
}
.social-tags{
    width: 60px;
    height: 60px;
    padding: .3rem;
    margin: .5rem;
}



/* find te homes */
.zoom{
    transition: transfom .9s ease;
}
.zoom:hover{
    transform: scale(1.6);
   background-color: none;
    text-decoration: none;
}

.skills-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-flex h4{
    font-size: 30px;
}
.skills-flex ul{
    list-style: none;
    line-height: 24px;
}
.skills-flex img{
    width: 100px;
    height: 100px;
    padding: 1rem;
}

.flex-main{
    border:5px solid rebeccapurple;
    display: block;
}
.proj-list{
    height: 100%;
    position: fixed;
    width:150px;
    border: 3px solid fuchsia;
    display: flex;
    flex-direction: column;
    left: 0;
}
.main-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    height: 120px;
    border: 4px tomato solid;
    margin-left: 150px;
}
.proj-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: 4px khaki solid;
    margin-left: 150px;
    
}

.proj-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px green dashed;
    width: 30%;
}
.proj-item img{
    width: 300px;
    height: 300px;
}

